<div class="form-page">
    <h1>Formulaire de Contact</h1>
    <form [formGroup]="formContact" (ngSubmit)="onSubmit()">
        <div class="form-body">
            <div class="form-field">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" formControlName="prenom">
            </div>
            <div class="form-field">
                <label for="nom">Nom</label>
                <input type="text" id="nom" formControlName="nom">
            </div>
            <div class="form-field">
                <label for="age">Âge</label>
                <input type="number" id="age" formControlName="age">
            </div>
            <div class="form-field">
                <label for="has-email">Entrer un email ?</label>
                <input (change)="addMailValidator()" type="checkbox" id="has-email" formControlName="hasEmail">
            </div>
            @if (this.formContact.getRawValue().hasEmail) {
                <div class="form-field">
                    <label for="email">Email:</label>
                    <input type="text" id="email" formControlName="email">
            </div>
            }
            <div class="form-field">
                <label for="commentaire">Commentaires</label>
                <textarea id="commentaire" formControlName="commentaire"></textarea>
            </div>
            
            <button routerLink="/accueil" type="submit" [disabled]="!formContact.valid">Envoyer</button>
        </div>
    </form>
</div>