<div class="list-body">
    <div class="movie-list">
        <h1>Nos Films Préférés</h1>
        <ul>
            @for (film of films; track filmTitle){
                <li (click)="setSelectedMovie(film.filmTitle, film.imageURL)">{{film.filmTitle}}</li>
            }
        </ul>
    </div>
    <div class="movie-details">
    @if (filmTitle !== '') {
        <p>{{filmTitle}}</p> 
        <figure class="poster-fig">
            <img class="poster-img" [src]="imageURL" [alt]="'Affiche du film '+ filmTitle">
        </figure>
    } @else {
        <figure class="icon-fig">
            <img class="icon-img" src="assets/img/defaultIcon.png">
        </figure>
    }

    </div>  
</div>