<div class="list-body">
    <div class="movie-list">
        <h1>Nos Films Préférés</h1>
        <ul>
            <li (click)="setName('ryan')">Il faut sauver le soldat Ryan</li>
            <li (click)="setName('verte')">La Ligne Verte</li>
            <li (click)="setName('shining')">Shining</li>
            <li (click)="setName('sw')">Star Wars III</li>
            <li (click)="setName('chihiro')">Le voyage de Chihiro</li>
        </ul>
    </div>
    <div class="movie-details">
    @if (filmTitle !== '') {
        <p>{{filmTitle}}</p> 
        <figure>
            <img class="poster" [src]="imageURL" [alt]="'Affiche du film '+ filmTitle">
        </figure>
    } @else {
        <figure>
            <img class="icon" src="assets/img/defaultIcon.png">
        </figure>
    }

    </div>  
</div>