@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

    --main-bg:  #202020; 
    --lighter-bg: #292828;
    --footer-bg: #333;

    --main-red: #920101;
    --disabled-red: #3f0a0a;

    --shadow-color: rgba(0, 0, 0, 0.5);
    
    font-family: Roboto, system-ui;
}