.centered-image {
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-background)
}

figure {
    box-shadow: 10px 10px rgba(0, 0, 0, 0.500);
}