.gestion-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gestion-body {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
}

.gestion-informations {
    width: 500px;
    display: block;
    overflow-wrap: break-word;
}


